body {
    font: 18px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
}

#info > img {
    padding: 10px 0 10px 0;
}

#name {
    font-size: 25px;
    margin: 0;
}

#email {
    font-size: 20px;
}

h2 {
    margin: 10px 0 10px 0;
    border-bottom: 2px solid #000;
}

#info li {
    font-size: 16px;
    list-style: none;
    margin: 0 0 0 10px;
}

li.blog {
    background-image: url('../images/posterous.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

li.twitter {
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

li.facebook {
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

li.github {
    background-image: url('../images/github.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

li.plus {
    background-image: url('../images/plus.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

li.weibo {
    background-image: url('../images/weibo.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

li.linkedin {
    background-image: url('../images/linkedin.png');
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
}

span.time_period, span.paper_title {
    font-style: italic;
}

span.author {
    font-weight: bold;
}



